/* ***************************************** */

.checkbox-input:before {
  /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
  background-color: #ffffff;
  border-color: transparent;
  color: #3acfb6;
  content: close-quote;
  display: inline-block;
  height: 17px;
  outline: 1.5px solid #e2e2e2;
  transition-duration: 0.5s;
  transition-property: background-color, border-color;
  width: 17px;
  border-radius: 3px;
}

.checkbox-input:checked:before {
  background-color: #3350e3;
  outline: 1.5px solid #3350e3;
  content: "✓";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-class {
  margin-left: 12px;
  text-align: left;
  font: normal normal 600 14px/17px Inter;
  letter-spacing: 0px;
  color: #030e46;
  opacity: 1;
}

/* ***************************************** */
